.row-fluid
  %table.table.table-striped.table-bordered{id: 'tasks'}
    %thead
      %tr
        %th Queue Name
        %th Sku
        %th Operation
        %th Transaction
        %th Message
        %th State
    %tbody


= javascript_include_tag "tasks"
