%canvas{id: 'dep_canvas'}

#cols.row-fluid
  #pending.state
    %h4 Pending
    .viewport
  #ready.state
    %h4 Ready
    .viewport
  #running.state
    %h4 Running
    .viewport
  #complete.state
    %h4 Complete
    .viewport
  #successful.state
    %h4 Successful
    .viewport
  #failed.state
    %h4 Failed
    .viewport 
  #batteries


#task_modal.modal.hide.fade{role: 'dialog'}
  .modal-header
    %button.close{type: 'button', 'data-dismiss' => 'modal'} &times;
    %h3.title
  .modal-body

= javascript_include_tag "tasks_vis"
