.row-fluid
  #pending.state
    %h4 Pending
  #ready.state
    %h4 Ready
  #running.state
    %h4 Running
  #complete.state
    %h4 Complete
  #successful.state
    %h4 Successful
  #failed.state
    %h4 Failed    

= javascript_include_tag "tasks_vis"
  
