// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    height: 100%;
    width: 100%;
    position: absolute;
}

.container-fluid,
.row-fluid { height: inherit; }

.queue, .transaction {
  border: 1px dashed black;
  border-radius: 10px;
  width: 120px;
  padding: 5px;
  margin: 10px 25px 10px 25px;
  text-align: center;
  font-weight: bold;
}

.task {
  border: 2px solid black;
  border-radius: 20px;
  width: 100px;
  padding: 5px;
  margin: 3px;
  text-align: center;
  font-weight: bold;
  background-color: white;
}

.ready {
  border: 2px solid gold;
}

.running {
  border: 2px solid green;
}

.complete {
  border: 2px solid purple;
}

.successful {
  border: 2px solid blue;
}

.failed {
  border: 2px solid red;
}

.state {
  float: left;
  width: 180px;
  height: inherit;
  margin: 0px;
  padding: 0px;
  @extend .clearfix;
  position: relative;
  border-right: 1px solid black;
  text-align: center;
  h4 {
    margin: 0px;
    padding: 10px 0px 5px 0px;
    border-bottom: 1px solid black;
  }
  .viewport {
    height: inherit;
    overflow: scroll;
  }
}

.highlight {
  box-shadow: 3px 3px #999;
}


#batteries {
  float: left;
  width: 270px;
  padding: 50px 0px 0px 0px;
  @extend .clearfix;
  position: relative;
  text-align: center;

  .battery {
    position: relative;
    border: 3px solid black;
    border-radius: 9px;
    width: 250px;
    height: 50px;
    margin: 10px;

    background-image: -webkit-linear-gradient-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background-color: #444444;

    .segment {
      float: left;
      border-left: 1px solid black;  
      border-right: 2px solid black;  
      position: absolute;
      top: 0px;
      bottom: 0px;
      border-radius: 5px;
      margin-right: 4px;
      background-image: -webkit-linear-gradient-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3)));
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    
    }
    .high {
      background-color: lime;
    }
    .medium {
      background-color: orange; 
    }
    .low {
      background-color: red;
    }
    .nipple {
      border: 2px solid black;  
      border-radius: 4px;
      width: 10px;
      height: 20px;
      position: absolute;
      right: -13px;
      top: 13px;
      background-image: -webkit-linear-gradient-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3)));
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
      background-color: 'gray';
      z-index: -1;
    }
  }

  .label {
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    color: black;
    margin: auto;
  }
}


#dep_canvas {
  position: absolute;
}
